div.existingGoalHolder
  - for (var i = 0; i < user.results.length; i++)
    span.goalHolder
      span
        | Name:
        input(class="goalName", value="#{user.results[i].goalName}",
            id="#{user.results[i]._id}_dad-form-goal-name")
      span
        | Goal amount:
        input(class="goalAmount", value="#{user.results[i].goalAmount}",
            id="#{user.results[i]._id}_dad-form-goal-target-amount")
      span
        | Amount saved:
        input(class="goalAmountSaved", value="#{user.results[i].goalAmountSaved}",
            id="#{user.results[i]._id}_dad-form-goal-amount-saved")
      span
        | Target date:
        input(class="goalTargetDate", value="#{user.results[i].goalTargetDate}",
            id="#{user.results[i]._id}_dad-form-goal-target-date")
      span
        | Dollars per day:
        input.dollarsPerDay(class="dollarsPerDay",
            value="#{user.results[i].dollarsPerDay}")
      span
        | alerts:
        input(class="emailAlerts", value="#{user.results[i].emailAlerts}",
            id="#{user.results[i]._id}_dad-form-email-alerts")
      button(onclick="dad.addNewGoal('#{user.results[i]._id}')")
        | update


//- input(id="dad-form-goal-name", placeholder="goal name")
//- input(id="dad-form-goal-target-amount", placeholder="goal amount")
//- input(id="dad-form-goal-amount-saved", placeholder="goal amount saved")
//- input(id="dad-form-goal-target-date", placeholder="target date")
//- input(type="radio", id="dad-form-email-alerts", name="dad-form-email-alerts", value="on", checked="true")
